{# style_navbar #}
iframe[title="streamlit_navigation_bar.st_navbar"] {
    position: fixed;
    z-index: 9999;
    {% if margin %}
    width: calc(100% - 5.125rem);
    margin-left: 2.5625rem;
    margin-right: 2.5625rem;
    {% else %}
    width: 100%;
    {% endif %}
    left: 0;
}
header[data-testid="stHeader"] {
    z-index: 9998;
    height: {{ ui.height }};
    background-color: {{ ui.bg_color }};
}
#stDecoration {
    visibility: hidden;
}

{# style_menu #}
{% if not adjust["show_menu"] %}
{% block show_menu %}{% endblock %}
{% endif %}
div[data-testid="stToolbar"] {
    top: calc(({{ ui.height }} - 2rem) / 2);
    right: 0.3125rem;
}
div[class="stStatusWidget"] {
    visibility: hidden;
}
div[class="stDeployButton"] {
    visibility: hidden;
}
span[data-testid="stMainMenu"] path:nth-of-type(2) {
    fill: {{ ui.color }};
}
span[data-testid="stMainMenu"]:hover path:nth-of-type(2) {
    fill: {{ ui.hover_color }};
}
span[data-testid="stMainMenu"] button[data-testid="baseButton-headerNoPadding"]:hover {
    background-color: {{ ui.hover_bg_color }};
}

{# style_sidebar #}
{% if not adjust["show_sidebar"] %}
{% block show_sidebar %}{% endblock %}
{% endif %}
div[data-testid="collapsedControl"] {
    top: calc(({{ ui.height }} - 2rem) / 2);
    left: 0.3125rem;
}
div[data-testid="collapsedControl"] path:nth-of-type(2) {
    fill: {{ ui.color }};
}
div[data-testid="collapsedControl"]:hover path:nth-of-type(2) {
    fill: {{ ui.hover_color }};
}
div[data-testid="collapsedControl"] button[data-testid="baseButton-headerNoPadding"]:hover {
    background-color: {{ ui.hover_bg_color }};
}
div[data-testid="stSidebarContent"] button[data-testid="baseButton-header"]:hover {
    background-color: rgba(151, 166, 195, 0.25);
}

{# fix_shadow #}
{% if not adjust["fix_shadow"] %}
{% block fix_shadow %}{% endblock %}
{% endif %}

{# adjust_padding #}
div[data-testid="stAppViewBlockContainer"] {
    padding-top: 0px;
}
div[data-testid="stVerticalBlockBorderWrapper"]:has(
    div[data-testid="stVerticalBlock"]
    > div.element-container
    > div.stMarkdown
    > div[data-testid="stMarkdownContainer"]
    > p
    > span.{{ key }}
) {
    margin-bottom: 5rem;
}
